<div class="grid-row">
  <div class="column-full">
    <%= form_tag(worktray_path, :method => "get") do %>
      <%= hidden_field_tag(:recommended_actions, params[:recommended_actions]) if params[:recommended_actions].present? %>
      <%= hidden_field_tag(:paused, params[:paused]) if params[:paused].present? %>
      <%= hidden_field_tag(:full_patch, params[:full_patch]) if params[:full_patch].present? %>
      <%= hidden_field_tag(:upcoming_evictions, params[:upcoming_evictions]) if params[:upcoming_evictions].present? %>
      <%= hidden_field_tag(:upcoming_court_dates, params[:upcoming_court_dates]) if params[:upcoming_court_dates].present? %>
      <div class="form-group">
        <label class="form-label visually-hidden" for="patch_code"><strong>Patch</strong><br/></label>
        <%= select_tag(:patch_code, patch_codes_options(selected: @filter_params.patch_code), { :class => 'form-control' }) %>
        <%= submit_tag('Filter by patch', class: 'button') %>
      </div>
    <% end %>
  </div>
</div>

<%= worktray_tab_link_to("Immediate Actions", worktray_path(immediate_actions: true), :immediate_actions, @filter_params) %>
<%= worktray_tab_link_to("Paused", worktray_path(paused: true), :paused, @filter_params) %>
<%= worktray_tab_link_to("Full Patch", worktray_path(full_patch: true), :full_patch, @filter_params) %>
<%= worktray_tab_link_to("Upcoming Evictions", worktray_path(upcoming_evictions: true), :upcoming_evictions, @filter_params) %>
<%= worktray_tab_link_to("Upcoming Court Dates", worktray_path(upcoming_court_dates: true), :upcoming_court_dates, @filter_params) %>

<%= render 'tenancies/worktray/recommended_action_filter' if show_immediate_actions_filter?(@filter_params) %>
<%= render 'tenancies/worktray/pause_reason_filter' if params[:paused].present? %>

<% if @tenancies.none? %>
  <h3 class="tenancy_list tenancy_list__no_tenancies">No results found</h3>
<% else %>
  <%= render :partial => 'tenancies/worktray/worktray_table', locals: { tenancies_list: @tenancies } %>
<% end %>
