<table>
   <tr>
     <%= form_tag(worktray_path, :method => "get") do %>
       <td>
           <label class="govuk-label" for="code"><strong>Next Recommended Action</strong><br/></label>
           <%= select_tag(:recommended_actions, options_for_select(@recommended_actions), { :class => 'form-control' }) %>
       </td>
       <td>
         <%= submit_tag('Filter by next action', class: 'button') %>
       </td>
     <% end %>
   </tr>
 </table>

<table class="tenancy_list">
  <thead>
  <tr>
    <th>Ref No.</th>
    <th>Tenant</th>
    <th class="numeric">Balance</th>
    <th>Last Action</th>
    <th>Agreement</th>
    <th>Next Recommended Action</th>
  </tr>
  </thead>
  <tbody>
  <% tenancies_list.each do |tenancy| %>
    <tr>
      <td>
        <%= link_to(tenancy_path(id: tenancy.ref, page_params: @page_params), class: 'tenancy_list__link') do %>
          <span class="tenancy_list__ref"><%= tenancy.ref %></span>
        <% end %>
      </td>
      <td>
        <%= link_to(tenancy_path(id: tenancy.ref, page_params: @page_params), class: 'tenancy_list__link') do %>
          <span class="tenancy_list__name"><strong><%= tenancy.primary_contact_name %></strong></span>
          <span class="tenancy_list__address"><%= tenancy.primary_contact_short_address %></span>
          <span class="tenancy_list__post_code"><%= tenancy.primary_contact_postcode %></span>
        <% end %>
      </td>
      <td class="numeric">
        <%= link_to(tenancy_path(id: tenancy.ref, page_params: @page_params), class: 'tenancy_list__link') do %>
          <span><%=number_to_currency(tenancy.current_balance, unit: '£') %></span>
        <% end %>
      </td>
      <td>
        <%= link_to(tenancy_path(id: tenancy.ref, page_params: @page_params), class: 'tenancy_list__link') do %>
          <span class="tenancy_list__latest_action_date"><%= tenancy.last_action_display_date %></span><br />
          <span class="tenancy_list__latest_action_code"><strong><%= Hackney::Income::ActionDiaryEntryCodes.human_readable_action_code(tenancy.latest_action_code) %></strong></span>
        <% end %>
      </td>
      <td>
        <%= link_to(tenancy_path(id: tenancy.ref, page_params: @page_params), class: 'tenancy_list__link') do %>
          <span class="tenancy_list__ref"><%= human_agreement_status(tenancy.current_arrears_agreement_status) %></span>
        <% end %>
      </td>

      <td>
        <%= link_to(tenancy_path(id: tenancy.ref, page_params: @page_params), class: 'tenancy_list__link') do %>
          <span>
            <%= tenancy.classification&.humanize %>
          </span>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
