<h2>Your Worktray</h2>

<table class="tenancy_list">
  <thead>
    <tr>
      <th>Reference No.</th>
      <th>Tenant</th>
      <th class="numeric">Balance</th>
    </tr>
  </thead>
  <tbody>
    <% @tenancies_in_arrears.each do |tenancy| %>
      <tr>
        <td>
          <%= link_to(tenancy_path(id: tenancy.tenancy_ref), class: 'tenancy_list__link') do %>
            <span class="tenancy_list__ref"><%= tenancy.tenancy_ref %></span>
          <% end %>
        </td>
        <td>
          <%= link_to(tenancy_path(id: tenancy.tenancy_ref), class: 'tenancy_list__link') do %>
            <span class="tenancy_list__name"><%= contact_name(tenancy.primary_contact) %></span>
            <span class="tenancy_list__address"><%= tenancy.address_1 %></span>
            <span class="tenancy_list__post_code"><%= tenancy.post_code %></span>
          <% end %>
        </td>
        <td class="numeric">
          <%= link_to(tenancy_path(id: tenancy.tenancy_ref), class: 'tenancy_list__link') do %>
            <span>-£<%= tenancy.current_balance %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
