<h2>Your Worktray</h2>

<% if @user_assigned_tenancies.none? %>
<h3>You currently have no assigned cases</h3>
<% else %>
<table class="tenancy_list">
  <thead>
    <tr>
      <th>Reference No.</th>
      <th>Tenant</th>
      <th class="numeric">Balance</th>
      <th>Priority</th>
    </tr>
  </thead>
  <tbody>
    <% @user_assigned_tenancies.each do |tenancy| %>
      <tr>
        <td>
          <%= link_to(tenancy_path(id: tenancy.ref), class: 'tenancy_list__link') do %>
            <span class="tenancy_list__ref"><%= tenancy.ref %></span>
          <% end %>
        </td>
        <td>
          <%= link_to(tenancy_path(id: tenancy.ref), class: 'tenancy_list__link') do %>
            <span class="tenancy_list__name"><%= tenancy.primary_contact_name %></span>
            <span class="tenancy_list__address"><%= tenancy.primary_contact_short_address %></span>
            <span class="tenancy_list__post_code"><%= tenancy.primary_contact_postcode %></span>
          <% end %>
        </td>
        <td class="numeric">
          <%= link_to(tenancy_path(id: tenancy.ref), class: 'tenancy_list__link') do %>
            <span>£<%= tenancy.current_balance.gsub('¤', '') %></span>
          <% end %>
        </td>
        <td>
          <%= link_to(tenancy_path(id: tenancy.ref), class: 'tenancy_list__link') do %>
            <span class="tenancy_list__<%= tenancy.band %>"><%= tenancy.score %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
