<h2>Your Worktray</h2>

<% if @showing_paused_tenancies %>
  <% content_for :title do %>Paused - Worktray<% end %>

  <a id='active'  class='tab__link' href='<%= url_for worktray_path %>'>
    <input class='tab__input' id='tab1' type='radio' name='tabs'>
    <label class='tab__label tab__label--2-columns tab__label--first' for='tab1'>Active</label>
  </a>

  <a id='paused' class='tab__link'>
    <input class='tab__input' id='tab2' type='radio' name='tabs' checked='checked' >
    <label class='tab__label tab__label--2-columns' for='tab2'>Paused</label>
  </a>

  <% if @user_assigned_tenancies.none? %>
    <h3 class="tenancy_list tenancy_list__no_tenancies">You currently have no assigned paused cases</h3>
  <% end %>

<% else %>
  <% content_for :title do %>Active - Worktray<% end %>

  <a id='active' class='tab__link'>
    <input class='tab__input' id='tab1' type='radio' name='tabs' checked='checked'>
    <label class='tab__label tab__label--2-columns tab__label--first' for='tab1'>Active</label>
  </a>

  <a id='paused' class='tab__link' href='<%= url_for worktray_path(paused: true)%>'>
    <input class='tab__input' id='tab2' type='radio' name='tabs'>
    <label class='tab__label tab__label--2-columns' for='tab2'>Paused</label>
  </a>

  <% if @user_assigned_tenancies.none? %>
    <h3 class="tenancy_list tenancy_list__no_tenancies">You currently have no assigned cases</h3>

    <div class='other_actions tenancy_list column-align-center'>
      <%= link_to 'Send letters', letters_new_path, class: 'button' %>
      <%= link_to  'View letters', documents_path, class: 'button' %>
    </div>
  <% end %>
<% end %>

<% if !@user_assigned_tenancies.none? %>

  <%= render :partial => 'worktray_table', locals: { tenancies_list: @user_assigned_tenancies } %>

  <%=
    render 'common/pagination',
      page_number: @page_number,
      number_of_pages: @number_of_pages,
      previous_page_path: worktray_path(page: @page_number - 1),
      next_page_path: worktray_path(page: @page_number + 1)
  %>
<% end %>
