<div class="grid-row">
  <div class="column-full">
    <%= link_to('Return back to your worktray', root_path, class: 'link--back') %>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render('common/tenancy_header') %>
  </div>
</div>

<div class="grid-row">
  <div class="column-third">
    <h2>Account balance</h2>
    <div class="data">
      <div class="data-item bold-xlarge">
        £<%= @tenancy.current_balance %>
      </div>
      <span class="data-item bold-small">
        <% if !@tenancy.current_balance.nil? && @tenancy.current_balance > 0 %>
          in arrears
        <% else %>
          in credit
        <% end %>
      </span>
    </div>
    <h2>Rent Charges</h2>
    <div>
        <ul class="list">
          <li>Rent Charge: <%= @tenancy.rent %></li>
          <li>Service Charge: <%= @tenancy.service %></li>
          <li>Other Charge: <%= @tenancy.other_charge %></li>
        </ul>
    </div>
  </div>
  <div class="column-two-thirds">
    <h2>Personal details</h2>
    <div class="grid-row">
      <div class="column-half">
        <h3>Current address</h3>
        <ul class="list">
          <li><%= @tenancy.primary_contact_long_address %></li>
          <li><%= @tenancy.primary_contact_postcode %></li>
        </ul>
      </div>
      <div class="column-half fake">
        <h3>Contact details</h3>
        <ul class="list">
          <li>Mobile Phone: <%= @tenancy.primary_contact_phone %></li>
          <li>Home Phone: <%= @tenancy.primary_contact_phone %></li>
          <li>E-Mail: <%= @tenancy.primary_contact_email %></li>
          <li>
            <%= link_to 'Send SMS', tenancy_sms_path(id: @tenancy.ref), class:'button' %>
            <%= link_to 'Send Email', tenancy_email_path(id: @tenancy.ref), class:'button' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h2>Balance over time</h2>
    <canvas id="balance_chart" height="300"></canvas>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h2>Payment Agreements</h2>

    <table>
      <thead>
        <th>Start Date</th>
        <th>Status</th>
        <th>Breached?</th>
        <th>Frequency</th>
        <th>Clear by</th>
        <th class="numeric">Value</th>
      </thead>
      <tbody>
        <% @tenancy.agreements.each do |agreement| %>
        <tr>
          <td><%= agreement.start_date_display_date %></td>
          <td><%= agreement.human_readable_agreement_status %></td>
          <td><%= agreement.human_readable_breached_status %></td>
          <td><%= agreement.frequency %></td>
          <td><%= agreement.clear_by_display_date %></td>
          <td class="numeric">
            £<%= agreement.amount %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h2>Payment history</h2>

    <table>
      <thead>
        <th>Transaction</th>
        <th>Date</th>
        <th class="numeric">Value</th>
        <th class="numeric">Balance</th>
      </thead>
      <tbody>
        <% @tenancy.transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.fetch(:type) %></td>
          <td title="<%= transaction.fetch(:timestamp) %>">
            <%= transaction.fetch(:timestamp).strftime('%B %e %Y') %>
          </td>
          <td class="numeric <%= transaction.fetch(:value) > 0 ? 'negative' : 'positive' %>">
            <%= transaction.fetch(:value) > 0 ? '£%.2f' % transaction.fetch(:value) : '-£%.2f' % transaction.fetch(:value).abs %>
          </td>
          <td class="numeric">
            £<%= '%.2f' % transaction.fetch(:final_balance) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h2>Scheduled Automated Actions</h2>

    <% if @tenancy.scheduled_actions.none? %>
    There are no scheduled actions.
    <% else %>
    <table>
      <thead>
        <th>Description</th>
        <th>Date</th>
      </thead>
      <tbody>
        <% @tenancy.scheduled_actions.each do |action| %>
        <tr>
          <td><%= action.fetch(:description) %></td>
          <td title="<%= action.fetch(:scheduled_for) %>">
            <%= action.fetch(:scheduled_for).strftime('%B %e %Y') %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h2>Action Diary</h2>
    <div class="column-right">
      <%= link_to 'Create New Entry', create_action_diary_entry_path(id: @tenancy.ref), class:'button' %>
    </div>
    <% if @tenancy.arrears_actions.none? %>
    There have been no actions against this case.
    <% else %>
    <table>
      <thead>
        <th>Description</th>
        <th>Type</th>
        <th>Code</th>
        <th>Date</th>
        <th>User</th>
      </thead>
      <tbody>
        <% @tenancy.arrears_actions.each do |action| %>
        <tr>
          <td><%= action.comment %></td>
          <td><%= Hackney::Income::ActionDiaryEntryCodes.human_readable_action_code(action.code) %></td>
          <td><%= action.code %></td>
          <td title="<%= action.date %>">
            <%= action.display_date %>
          </td>
          <td>
            <% if action.type == 'AUTO' %>
            <strong>Automated</strong>
            <% elsif !action.universal_housing_username.nil? %>
            <%= action.universal_housing_username %>
            <% else %>
            <strong>Unknown</strong>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function () {
    var ctx = document.getElementById('balance_chart')
    var transactions = <%= @tenancy.transactions.map do |t|
      {
        description: t.fetch(:description),
        date: t.fetch(:timestamp).to_date.to_s,
        displayValue: t.fetch(:value) >= 0 ? '£%.2f' % t.fetch(:value) : '-£%.2f' % t.fetch(:value).abs,
        finalBalance: t.fetch(:final_balance).round(2)
      }
    end.to_json.html_safe %>

    window.arrearsGraph && window.arrearsGraph.destroy()
    window.arrearsGraph = BalanceGraph(ctx, transactions)
  })
</script>
