<% content_for :title do %><%= @tenancy.ref%> - Tenancy<% end %>

<div class="grid-row">
  <div class="column-full">
    <%= link_to('Return back to your worktray', root_path, class: 'link--back') %>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render('common/tenancy_header') %>
  </div>
  <div class="column-one-third">
    <%= link_to 'Pause case', tenancy_pause_path(@tenancy.ref), class:'button' %>
  </div>
</div>

<div class="grid-row">
  <div class="column-third">
    <h2>Account balance</h2>
    <div class="data">
      <div class="data-item bold-xlarge">
        <%= number_to_currency(@tenancy.current_balance, precision: 2, unit: '£') %>
      </div>
      <span class="data-item bold-small">
        <% if !@tenancy.current_balance.nil? && @tenancy.current_balance > 0 %>
          in arrears
        <% else %>
          in credit
        <% end %>
      </span>
    </div>
  </div>
  <div class="column-two-thirds">
    <h2>Personal details</h2>
    <div class="grid-row">
      <div class="column-half">
        <h3>Tenancy address</h3>
        <ul class="list">
          <li><%= @tenancy.primary_contact_long_address %></li>
          <li><%= @tenancy.primary_contact_postcode %></li>
        </ul>
        <% primary_contact = @tenancy.contacts.find { |t| t[:responsible] } %>
        <% if !primary_contact.nil? %>
          <h3>Primary Tenant</h3>
          <ul class="list">
            <li><%= @tenancy.contacts[0][:full_name] %></li>
            <li><%= @tenancy.contacts[0][:address_line_1] %></li>
            <li><%= @tenancy.contacts[0][:address_line_2] %></li>
            <li><%= @tenancy.contacts[0][:address_line_3] %></li>
            <li><%= @tenancy.contacts[0][:post_code] %></li>
          </ul>
        <% end %>
      </div>
      <div class="column-half">
        <h3>Contact details</h3>
        <% if @tenancy.contacts.empty? %>
        Contact data appears to be missing for this tenant.
        <% else %>
          <% @tenancy.contacts.each do |contact| %>
          <%= render('common/contact_details', contact: contact) %>
          <% end %>
          <%= link_to 'Send SMS', tenancy_sms_path(tenancy_ref: @tenancy.ref), class:'button' %>
          <% if tenancy_has_responsibile_tenant_with_email?(@tenancy) %>
            <%= link_to 'Send Email', tenancy_email_path(tenancy_ref: @tenancy.ref), class:'button'%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h2>Balance over time</h2>
    <canvas id="balance_chart" height="300"></canvas>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h2>Arrears Agreements</h2>

    <% if @tenancy.agreements.none? %>
    There have been no arrears agreements made.
    <% else %>
    <table>
      <thead>
        <th>Start Date</th>
        <th>Status</th>
        <th>Breached?</th>
        <th>Frequency</th>
        <th>Clear by</th>
        <th class="numeric">Value</th>
      </thead>
      <tbody>
        <% @tenancy.agreements.each do |agreement| %>
        <tr class="<%= agreement.status == '200' ? 'agreement_row--active' : 'agreement_row' %>">
          <td><%= agreement.start_date_display_date %></td>
          <% if agreement.status == '200' %>
            <td><strong><%= human_agreement_status(agreement.status) %></strong></td>
          <% else %>
            <td><%= human_agreement_status(agreement.status) %></td>
          <% end %>
          <td><%= agreement.human_readable_breached_status %></td>
          <td><%= agreement.human_readable_frequency %></td>
          <td><%= agreement.clear_by_display_date %></td>
          <td class="numeric">
            <%= number_to_currency(agreement.amount, unit: '£') %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h2>Payment history</h2>
    <% transactions_from_last_four_weeks = from_last_four_weeks(@tenancy.transactions) %>
    <% if transactions_from_last_four_weeks.none? %>
    There have been no transactions in the last four weeks.
    <% else %>
    <%= render('common/tenancy_transactions_list', transactions: transactions_from_last_four_weeks) %>
    <% end %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full column-align-right">
    <%= link_to('View the full payment history', tenancies_transactions_path(tenancy_ref: @tenancy.ref), class: 'link--forward') %>
  </div>
</div>

<!--<div class="grid-row">-->
<!--  <div class="column-full">-->
<!--    <h2>Scheduled Automated Actions</h2>-->

    <%# if @tenancy.scheduled_actions.none? %>
<!--    There are no scheduled actions.-->
    <%# else %>
<!--    <table>-->
<!--      <thead>-->
<!--        <th>Description</th>-->
<!--        <th>Date</th>-->
<!--      </thead>-->
<!--      <tbody>-->
        <%# @tenancy.scheduled_actions.each do |action| %>
<!--        <tr>-->
<!--          <td><%#= action.fetch(:description) %></td>-->
<!--          <td title="<%#= action.fetch(:scheduled_for) %>">-->
            <%#= action.fetch(:scheduled_for).strftime('%B %e %Y') %>
<!--          </td>-->
<!--        </tr>-->
        <%# end %>
<!--      </tbody>-->
<!--    </table>-->
    <%# end %>
<!--  </div>-->
<!--</div>-->

<div class="grid-row">
  <div class="column-half">
    <h2>Action Diary</h2>
  </div>
  <div class="column-half__right">
    <%= link_to 'Add an action', action_diary_entry_path(tenancy_ref: @tenancy.ref), class:'button' %>
  </div>
  <div class="column-full">
    <% if @tenancy.arrears_actions.none? %>
    There have been no actions against this case.
    <% else %>
    <%= render('common/tenancy_actions_list', actions: @tenancy.arrears_actions) %>
    <% end %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full column-align-right">
    <%= link_to('View the full arrears action diary', action_diary_entries_path(tenancy_ref: @tenancy.ref), class: 'link--forward') %>
  </div>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function () {
    var ctx = document.getElementById('balance_chart')
    var transactions = <%= from_last_year(@tenancy.transactions).map do |t|
      {
        description: 'Summary for -',
        date: t.fetch(:date),
        displayValue: display_amount(t.fetch(:total_charge)),
        finalBalance: t.fetch(:transactions).first.fetch(:final_balance)
      }
    end.to_json.html_safe %>

    window.arrearsGraph && window.arrearsGraph.destroy()
    window.arrearsGraph = BalanceGraph(ctx, transactions)
  })
</script>
