<div class="grid-row" style="padding-top: 40px">
  <div class="grid-row__column--full">
    <h1><%= @tenancy.primary_contact.fetch(:title) %> <%= @tenancy.primary_contact.fetch(:first_name) %> <%= @tenancy.primary_contact.fetch(:last_name) %></h1>
  </div>
</div>

<div class="grid-row" style="padding-top: 40px">
  <div class="grid-row__column--half">
    <ul class="list">
      <li><%= @tenancy.address.fetch(:address_1) %></li>
      <li><%= @tenancy.address.fetch(:address_2) %></li>
      <li><%= @tenancy.address.fetch(:address_3) %></li>
      <li><%= @tenancy.address.fetch(:address_4) %></li>
      <li><%= @tenancy.address.fetch(:post_code) %></li>
    </ul>
  </div>

  <div class="grid-row__column--half">
    <h2>Contact Details</h2>

    <ul class="list">
      <li><strong>Phone:</strong> <%= @tenancy.primary_contact.fetch(:contact_number) %></li>
      <li><strong>Email:</strong> <%= @tenancy.primary_contact.fetch(:email_address) %></li>
    </ul>
  </div>
</div>

<div class="grid-row" style="padding-top: 40px">
  <div class="grid-row__column--full">
    <h2>Action Diary</h2>
    <table>
      <thead>
        <tr>
          <th>Action</th>
          <th>Date</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @tenancy.arrears_actions.each do |event| %>
        <tr>
          <td><%= event.fetch(:type)%></td>
          <td><%= event.fetch(:date)%></td>
          <td><%= event.fetch(:description)%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="grid-row" style="padding-top: 40px">
  <div class="grid-row__column--full">
    <h2>Balance Summary</h2>
    <h3>Current Balance: <%= @tenancy.current_balance %></h3>
  </div>
</div>

<div class="grid-row" style="padding-top: 40px">
  <div class="grid-row__column--full">
    <h2>Balance History</h2>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Type</th>
          <th class="numeric">Balance</th>
        </tr>
      </thead>
      <tbody>
        <% @tenancy.transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.fetch(:date) %></td>
          <td><%= transaction.fetch(:amount) %></td>
          <td><%= transaction.fetch(:type) %></td>
          <td class="numeric"><%= transaction.fetch(:final_balance) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="grid-row" style="padding-top: 40px">
  <div class="grid-row__column--full">
    <h2>Arrears Agreements</h2>
    <table>
      <thead>
        <tr>
          <th>Status</th>
          <th>Type</th>
          <th>Value</th>
          <th>Frequency</th>
          <th>Created Date</th>
        </tr>
      </thead>
      <tbody>
        <% @tenancy.agreements.each do |agreement| %>
        <tr>
          <td><%= agreement.fetch(:status) %></td>
          <td><%= agreement.fetch(:type) %></td>
          <td><%= agreement.fetch(:value) %></td>
          <td><%= agreement.fetch(:frequency) %></td>
          <td><%= agreement.fetch(:created_date) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
