<div class="grid-row">
  <div class="column-full">
    <div class="grid-row rounded-box">
      <div class="column-full">
        <div class="grid-row">
          <div class="column-half">
            <div class="column-align-left">
              <h2>Arrears Agreement</h2>
            </div>
          </div>
          <div class="column-half">
            <% if @agreement.present? %>
              <div class="column-half">
                <%= link_to('View details', show_agreement_path(tenancy_ref: @tenancy.ref, id: @agreement.id)) %>
              </div>
            <% end %>
            <% if @agreements.present? %>
              <div class="column-align-right">
                <%= link_to('View history', show_agreements_history_path(tenancy_ref: @tenancy.ref)) %>
              </div>
            <% end %>
          </div>
        </div>
        <% if @agreement.nil? %>
          There is currently no live agreement
        <% else %>
          <%= render :partial => 'agreements/agreement_status' %>
        <% end %>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-full">
        <% if @agreement.nil? %>
          <%= link_to 'Create agreement', new_agreement_path(@tenancy.ref), class:'button' %>
        <% elsif @agreement %>
          <%= render :partial => 'agreements/send_breach_letter_button' %>
          <% if @agreement.formal? %>
            <% if @court_case.terms %>
              <%= link_to "Cancel and create new court ordered agreement", new_agreement_path(@tenancy.ref),class:'button' %>
            <% else %>
              <%= link_to 'Cancel agreement', confirm_agreement_cancellation_path(tenancy_ref: @tenancy.ref, id: @agreement.id), class:'button' %>
            <% end %>
          <% else %>
            <%= link_to "Cancel and create new agreement", new_agreement_path(@tenancy.ref),class:'button' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
