<div class="grid-row grey-box">
  <div class="column-full">
    <ul>
      <li><strong>NoSP served:</strong> <%= format_date(@tenancy.nosp.served_date) %></li>
      <li><strong>NoSP expires:</strong> <%= format_date(@tenancy.nosp.expires_date) %></li>
      <li><strong>NoSP valid until:</strong> <%= format_date(@tenancy.nosp.valid_until_date) %></li>
      <% if @tenancy.eviction_date %>
        <li><strong>Eviction Date:</strong> <%= format_date(@tenancy.eviction_date) %></li>
      <% else %>
        <li>
          <%= link_to('Add eviction date', new_eviction_date_path(tenancy_ref: @tenancy.ref)) %>
        </li>
        <li>
          <%= link_to('Add NoSP', new_nosp_dates_path(tenancy_ref: @tenancy.ref)) %>
        </li>
    <% end %>
    </ul>
  </div>
</div>
