<div class="grid-row">
  <div class="column-full">
    <h1>Documents</h1>

    <%= form_tag(documents_path, method: :get) do %>
      <div class="form-inline">
        <label for="pay_ref"><strong>Payment reference:</strong></label>
        <%= text_field_tag('payment_ref', @filter_param[:payment_ref], class: 'form-control', id: "pay_ref", placeholder:"1234567890", autocomplete: false) %>
        <%= submit_tag('Search', class: 'button') %>
      </div>
    <% end %>

    <hr/>

    <% if @documents.any? %>
      <table>
        <thead>
          <tr>
            <td>Payment reference</td>
            <td>Letter</td>
            <td>Author</td>
            <td>Status</td>
            <td>Created at</td>
            <td>Updated at</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @documents.each do | document | %>
            <tr>
              <td><%= document.dig(:metadata, :payment_ref) %></td>
              <td><%= document.dig(:metadata, :template, :name) %></td>
              <td><%= document.dig(:metadata, :user_name) %></td>
              <td><%= document[:status].capitalize %></td>
              <td><%= document[:created_at].to_formatted_s(:long_ordinal) %></td>
              <td><%= document[:updated_at].to_formatted_s(:long_ordinal) %></td>
              <td><%= link_to('Download', document_path(document[:id])) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <%= link_to 'Show all', documents_path if @filter_param[:payment_ref].present? %>
  </div>
</div>
