<div class="grid-row">
  <div class="column-full">
    <%= link_to('‹ Return to tenant profile', tenancy_path(id: @tenancy.ref)) %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <%= form_tag(create_action_diary_entry_path, :method => "post") do %>
      <%= render('common/tenancy_header') %>

      <div class="form-group">
        <label class="govuk-label" for="type"><strong>Type:</strong></label>
        <%= select_tag(:type, options_for_select(@type_options), { :class => 'form-control' }) %>
      </div>
      <div class="form-group">
        <label class="govuk-label" for="code"><strong>Code:</strong></label>
        <%= select_tag(:code, options_for_select(@code_options), { :class => 'form-control' }) %>
      </div>
      <div class="form-group">
         <label class="govuk-label" for="comment"><strong>Comment:</strong></label>
         <textarea class="govuk-textarea" id="comment" name="comment" rows="5"></textarea>
      </div>
      </div>

      <input name="id" type="hidden" value="<%= @tenancy.ref %>" />
      <input name="tenancy_ref" type="hidden" value="<%= @tenancy.ref %>" />
      <input name="date" type="hidden" value="<%= Date.today.strftime('%YYYY-%MM-%DD') %>" />
      <input name="universal_housing_username" type="hidden" value="<%= session[:current_user].fetch('name') %>" />

      <%= submit_tag('Create', class: 'button') %>
    <% end %>
  </div>
</div>
