<div class="grid-row">
  <div class="column-full">
    <%= link_to('‹ Return to tenant profile', tenancy_path(id: @tenancy.ref)) %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <%= form_tag(create_action_diary_entry_path(id: @tenancy.ref)) do %>
      <%= render('common/tenancy_header') %>

      <div class="form-group">
        <label class="form-label"><strong>Type</strong></label>
        
        <label class="form-label"><strong>Code</strong></label>

        <label class="form-label"><strong>Comment</strong></label>
      </div>

      <input name="id" type="hidden" value="<%= @tenancy.ref %>" />
      <input name="tenancy_ref" type="hidden" value="<%= @tenancy.ref %>" />
      <input name="date" type="hidden" value="<%= Date.today.strftime('%YYYY-%MM-%DD') %>" />
      <input name="universal_housing_username" type="hidden" value="<%= session[:current_user].fetch('name') %>" />

      <%= submit_tag('Send', class: 'button') %>
    <% end %>
  </div>
</div>
