<!-- _failed_preview -->

<!--
  number_of_errors = errors.length
  error_row = "<tr><td rowspan='"+number_of_errors+"'>"+pay_ref+"</td>"
  for (i in errors) {
    if (i == 0) {
      error_row += "<td>"+errors[i].name+"</td><td>"+errors[i].message+"</td></td>"
    } else {
      error_row += "<tr><td>"+errors[i].name+"</td><td>"+errors[i].message+"</td></tr>"

    }
  }

 -->

 <%
uuid = @preview.dig(:uuid)
errors = @preview.dig(:errors)
# errors = JSON.parse(errors.replace(/&quot;/g, '"'));
pay_ref = @preview.dig(:case, :payment_ref)
number_of_errors = errors.length

%>
<% if errors.any? %>
<tr>
<td rowspan="<%= number_of_errors %>" > <%= pay_ref %> </td>
  <td><%= errors[0][:name] %></td>
  <td><%= errors[0][:message] %></td>

  <% errors[1..-1].each_with_index do |error, ind| %>
    <tr>
      <td> </td>
      <td><%= error[:name].humanize %></td>
      <td><%= error[:message].humanize %></td>
    </tr>
  <% end %>

</tr>
<% end %>
