<tr class="letter" data-uuid="<%= @preview[:uuid] %>">
  <td><%= @preview.dig(:case, :payment_ref) %></td>
  <td><%= @preview.dig(:uuid) %></td>
  <td>
    <% if @preview[:sendable] %>
      <%= button_to('Send', send_letter_path(uuid: @preview.dig(:uuid)),  method: :post, remote: true, class: 'button send_letter_button',
        data: {
          disable_with: "Sending..."
        }) %>
    <% elsif @preview[:document_id] %>
	    <%= link_to "Download",
        document_path(@preview[:document_id]),
        id: "download-letter-doc-#{@preview[:document_id]}",
        class: 'button'
      %>
    <% end %>
  </td>
</tr>
