<tr class="letter" data-uuid="<%= @preview[:uuid] %>">
  <td><%= @preview.dig(:case, :payment_ref) %></td>
  <td><%= @preview.dig(:uuid) %></td>
  <td>
    <% if @preview[:sendable] %>
      <%= button_to('Send', send_letter_path(uuid: @preview.dig(:uuid)),  method: :post, remote: true, class: 'button send_letter_button',
        data: {
          disable_with: "Sending..."
        }) %>
    <% else %>
    	<%= link_to "Download", use_cases.download_document.execute(id: @preview.dig(:document_id)) %>
    <% end %>
  </td>
</tr>
