<tr class="letter" data-uuid="<%= @preview[:uuid] %>">
  <td><%= @preview.dig(:case, :payment_ref) %></td>
  <td><%= @preview.dig(:uuid) %></td>
  <td>
    <% if @preview[:sendable] %>
      <%= button_to('Send', send_letter_path(uuid: @preview.dig(:uuid)),  method: :post, remote: true, class: 'button send_letter_button',
        data: {
          disable_with: "Sending..."
        }) %>
    <% elsif @preview[:document_id] %>
      <a href="<%= document_path(@preview[:document_id]) %>" class="button download_letter_button" onclick= "hideDownloadButton(event)" id="download-letter-doc-<%= @preview[:document_id] %>" download>
        Download
      </a>
    <% end %>
  </td>
</tr>
