<div class="letters" %>
  <div class="grid-row">
    <div class="column-full">
      <h1>Letter preview</h1>
      <strong>Template name: </strong><%= @preview.dig(:template,:name) %>
      <div class="letter_preview">
        <%= @preview[:preview].html_safe %>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <h2>Unable to send</h2>
      <h3>
        Failed count: <span id="failed_count"><%= @preview[:errors].any? ? 1 : 0 %></span>
      </h3>
      <table class="error">
        <thead>
          <tr>
            <th>Payment Ref</th>
            <th>Error Field</th>
            <th>Error Message</th>
          </tr>
        </thead>
        <tbody id="errors_table">
          <%= render partial: 'errors_table', preview: @preview %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">
      <h2>Ready to send</h2>
      <h3>
        Successful count: <span id="successful_count"><%= @preview[:errors].empty? ? 1 : 0 %></span>
      </h3>
      <table>
        <thead>
          <tr>
            <th>Payment reference</th>
            <th>Ready to send</th>
            <th> </th>
          </tr>
        </thead>
        <tbody id="successful_table">
          <%= render partial: 'successful_table', preview: @preview unless @preview[:errors].any?%>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <%= button_tag "Confirm and Send All", class: "button", onclick: 'submit_send_all_letters(event)' %>
  </div>

</div>

<div class="loader">
  <div class="donut"></div>
</div>

<script type="text/javascript">
  $(document).on(
    'turbolinks:load',
    get_previews(
      "<%=@payment_refs.join(',')%>",
      "<%=@preview.dig(:template, :id) %>"
    )
  );
</script>
