<div class="form-group">
  <fieldset>
    <legend>
      <h3>Court case related to this agreement</h3> <br>
    </legend>

    <%= hidden_field_tag :court_case_id, @court_cases.last.id %>
    <label for=<%= "court_case_id_#{@court_cases.last.id}" %>>
      <strong>Court date:</strong> <%= format_date(@court_cases.last.court_date) %>
      <strong>Court outcome:</strong> <%= court_outcomes[@court_cases.last.court_outcome] %>
    </label>
  </fieldset>
</div>

<div class="form-group">
  <label class="govuk-label" style="font-weight:bold" for="starting_balance" id="starting_balance_label">Starting Balance</label><br/>
  <%= number_field_tag :starting_balance, @court_cases.last.balance_on_court_outcome_date, { class: 'form-control', required: true, disabled: true} %>
</div>

<%= render :partial => "agreements/form/agreement_informal" %>

