<% if @payment_type == 'variable' %>
  <div class="form-group">
    <label class="govuk-label" style=font-weight:bold for="lump_sum_amount">Lump sum payment amount</label><br/>
    <%= number_field_tag(:lump_sum_amount, @agreement.initial_payment_amount, { class: 'form-control', required: true, min: 1, max: @tenancy.current_balance, placeholder: '£', step: 0.01 }) %>
  </div>

  <div class="form-group">
    <label class="govuk-date-field" for="lump_sum_date"><strong>Lump sum payment date</strong><br/></label>
    <%= date_field_tag :lump_sum_date, @agreement.initial_payment_date, class: 'form-control' %>
  </div>
  <hr>
<% end %>

<div class="form-group">
  <label class="govuk-label" for="frequency"><strong>Frequency of payments</strong><br/></label>
  <%= select_tag(:frequency, options_for_select(frequency_of_payments, @agreement.frequency), { :class => 'form-control', id: 'frequency_selector' }) %>
</div>

<div class="form-group">
  <label class="govuk-label" style=font-weight:bold for="amount" id="frequency_label"><%= @agreement.frequency.nil? ? 'Weekly' : @agreement.frequency %> instalment amount</label><br/>
  <%= number_field_tag(:amount, @agreement.amount, { class: 'form-control', required: true, min: 1, max: @tenancy.current_balance, placeholder: '£', step: 0.01 }) %>
</div>

<div class="form-group">
  <label class="govuk-date-field" for="start_date"><strong>Start date</strong><br/></label>
  <%= date_field_tag :start_date, @agreement.start_date, class: 'form-control' %>
</div>

<div class="form-group">
  <label class="govuk-date-field" for="end_date"><strong>End date</strong><br/></label>
  <label class="govuk-date-field" id="end_date_value"></label>
</div>

<div class="form-group">
  <label class="govuk-label" for="agreement_notes"><strong>Notes</strong><br/></label>
  <%= text_area_tag(:notes, @agreement.notes, { class: 'form-control' }) %>
</div>

<%= submit_tag 'Create', class: 'button' %>
