<% content_for :title do %><%= "#{@tenancy_ref} - #{title}" %><% end %>
<div class="grid-row">
  <div class="column-full">
    <%= link_to('Return to case profile', tenancy_path(id: @tenancy_ref), class: 'link--back') %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h1><%= title %></h1>
    <hr>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <%= form_tag(action, method: :post) do %>

      <div class="form-group">
        <label class="govuk-date-field" for="court_date"><strong>Court date</strong><br/></label>
        <%= date_field_tag :court_date, @court_date, required: true, class: 'form-control' %>
      </div>
      
      <%= submit_tag button, class: 'button' %>
    <% end %>
  </div>
</div>
