<% content_for :title do %><%= @tenancy_ref %> - Add court outcome<% end %>

<div class="grid-row">
  <div class="column-full">
    <%= link_to('Cancel and go back', tenancy_path(id: @tenancy_ref), class: 'link--back') %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h1><%= 'Add court outcome' %></h1>
    <hr>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h2><%= 'Court outcome' %></h2>
    <%= form_tag('update', method: :post) do %>
      <div class="form-group">
        <fieldset>
          <legend>
            <h3>What was the outcome from court?</h3> <br>
          </legend>
          <% court_outcomes.each do |code, value| %>
            <div class="multiple-choice">
              <%= radio_button_tag :court_outcome, code, @court_outcome == code %>
              <label for="court_outcome"><%= value %></label>
            </div>
          <% end %>
        </fieldset>
      </div>
      <div class="form-group">
        <label class="form-label" for="balance" id="balance_label"><strong>Balance on court outcome date</strong></label><br/>
        <%= number_field_tag(:balance_on_court_outcome_date, @balance_on_court_outcome_date, { class: 'form-control', required: true, min: 1, placeholder: '£', step: 0.01 }) %>
      </div>

      <div class="form-group">
        <label class="form-label" for="strike_out_date"><strong>Strike out date (optional)</strong><br/></label>
        <label class="form-hint" for="strike_out_date_hint_text">Does the court order have an end date?<br/></label>
        <%= date_field_tag :strike_out_date, @strike_out_date, class: 'form-control' %>
      </div>

      <%= submit_tag 'Add outcome', class: 'button' %>
    <% end %>
  </div>
</div>
