<% content_for :title do %><%= @tenancy_ref %> - View court case<% end %>

<div class="grid-row">
  <div class="column-full">
    <%= link_to('Return back to case profile', tenancy_path(id: @tenancy_ref), class: 'link--back') %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h1><%= 'Court case' %></h1>
    <hr>
    <h2><%= @tenancy.primary_contact_name %></h2>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="column-half">
      <div class="column-align-left">
          <h2>Court date</h2>
      </div>
    </div>
    <div class="column-half">
        <div class="column-align-right">
          <%= link_to 'Edit court date', edit_court_date_path(@tenancy.ref, @court_case.id), class:'button' %>
        </div>
    </div>
  </div>
  <div class="column-two-thirds">
      <ul>
        <li><%= format_date(@court_case.court_date) %></li>
        <br/>
      </ul>
      <hr>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="column-half">
      <div class="column-align-left">
          <h2>Court outcome</h2>
      </div>
    </div>
    <div class="column-half">
        <div class="column-align-right">
          <% court_outcome_button_title = @court_case.court_outcome.nil? ? 'Add court outcome' : 'Edit court outcome' %>
          <%= link_to court_outcome_button_title, edit_court_outcome_path(@tenancy.ref), class:'button' %>
        </div>
    </div>
  </div>
  <div class="column-two-thirds">
      <%= render :partial => 'court_cases/court_outcome' %>
      <hr>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <% if @court_case.court_outcome %>
      <%= form_tag(income_collection_letters_path, class: 'case-details__inline-block') do %>
        <%= hidden_field_tag "template_id", 'court_outcome_letter' %>
        <%= hidden_field_tag "tenancy_refs", @tenancy.ref %>
        <%= submit_tag('Send court outcome confirmation letter', class: 'button') %>
      <% end %>
    <% end %>
    <ul>
        <%= link_to 'Cancel and create new court case', new_court_case_path(@tenancy.ref), class:'button' %>
        <br/>
      </ul>
  </div>
</div>
