<div class="grid-row">
  <div class="column-full">
    <%= link_to('‹ Return to tenant profile', tenancy_path(id: @tenancy.ref)) %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <%= form_tag(create_tenancy_email_path(id: @tenancy.ref)) do %>
      <%= render('common/tenancy_header') %>

      <div class="form-group">
        <div class="panel panel-border-narrow">
          <label class="form-label"><strong>Email Address</strong></label>
          <%= @tenancy.primary_contact.fetch(:email_address) %>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label" for="email-template-select"><strong>Select template</strong></label>
        <span class="form-hint">Select a message to send from the dropdown list below</span>
        <%= select_tag(:template_id, options_for_select(@email_templates.map { |template| [template.name, template.id, { data: { preview: "<strong>Subject:</strong> #{template.subject}</br><strong>Content:</strong>#{message_preview(template.body)}" }}]}), id: 'email-template-select', class:'form-control') %>
      </div>

      <div class="form-group">
        <div class="panel panel-border-narrow">
          <label class="form-label"><strong>Preview of message</strong></label>
            <div id="email-preview">
              <strong>Subject:</strong> <%= "#{@email_templates.first.subject}" %>
              </br>
              <strong>Content:</strong><%= message_preview(@email_templates.first.body) %>
            </div>
          </div>
        </div>
      <%= submit_tag('Send', class: 'button') %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#email-template-select').on('change', function (e) {
      var $selectedElement = $(e.target.options[e.target.selectedIndex])
      $('#email-preview').html($selectedElement.data('preview'))
    })
  })
</script>
