<% content_for :title do %><%= @tenancy_ref %> - Cancel agreement<% end %>

<div class="grid-row">
  <div class="column-full">
    <%= link_to 'Return to agreement details page', show_agreement_path(tenancy_ref: @tenancy_ref, id: @agreement_id), class: 'link--back' %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h1><%= 'Are you sure you want to cancel this agreement?' %></h1>
    <hr>
    <%= form_tag('cancel', method: :post) do %>
      <div class="form-group">
        <label class="govuk-label" for="cancellation_reason"><strong>Reason of cancellation</strong><br/></label>
        <%= text_area_tag(:cancellation_reason, @cancellation_reason, { class: 'form-control', required: true  }) %>
      </div>
    <%= submit_tag 'Yes', class: 'button' %>
    <%= link_to 'No', show_agreement_path(tenancy_ref: @tenancy_ref, id: @agreement_id), class:'button' %>
  <% end %>
  </div>
</div>
