<% content_for :title do %><%= @tenancy_ref %> - Create agreement<% end %>

<div class="grid-row">
  <div class="column-full">
    <%= link_to('Return to case profile', tenancy_path(id: @tenancy_ref), class: 'link--back') %>
  </div>
</div>

<%= hidden_field_tag :payment_type, @payment_type %>
<% if @payment_type == 'one_off' %>
  <%= render :partial => "agreements/form/one_off_payment_agreement" %>
<% else %>
  <%= render :partial => "agreements/form/agreement" %>
<%end%>
