<% content_for :title do %><%= @tenancy_ref %> - Create agreement<% end %>

<div class="grid-row">
  <div class="column-full">
    <%= link_to('Return to case profile', tenancy_path(id: @tenancy_ref), class: 'link--back') %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h1><%= 'Create agreement' %></h1>
    <label class="govuk-label"><strong>Agreement for: </strong><%= @tenancy.primary_contact_name %><br/></label>
    <label class="govuk-label"><strong>Total arrears balance owed: </strong><%= number_to_currency(@tenancy.current_balance, unit: '£') %><br/></label>
    <hr>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <%= form_tag('create', method: :post) do %>
      <%= render :partial => "agreements/form/agreement_#{@agreement.current_step}" %>
  <% end %>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script type="text/javascript">
  function updateEndDate() {
    var start_date = document.getElementById("start_date").value;
    var arrears = '<%= @tenancy.current_balance %>';
    var frequency = document.getElementById("frequency_selector").value;
    var amount = document.getElementById("amount").value;
    document.getElementById('end_date_value').textContent = window.EndDateCalculator(arrears, start_date, frequency, amount);
  }

  document.getElementById("amount").addEventListener('change', (event) => {
    updateEndDate()
  });

  document.getElementById("start_date").addEventListener('change', (event) => {
    updateEndDate()
  });

  document.getElementById("frequency_selector").addEventListener('change', (event) => {
    var frequency_label = document.getElementById("frequency_selector").value;
    document.getElementById('frequency_label').textContent = frequency_label.charAt(0).toUpperCase() + frequency_label.slice(1) + " instalment amount";
    updateEndDate()
  });
</script>
