<% content_for :title do %><%= @tenancy_ref %> - Create agreement<% end %>

<div class="grid-row">
  <div class="column-full">
    <%= link_to('Return to case profile', tenancy_path(id: @tenancy_ref), class: 'link--back') %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h1><%= 'Create agreement' %></h1>
    <label class="govuk-label"><strong>Agreement for: </strong><%= @tenancy.primary_contact_name %><br/></label>
    <label class="govuk-label"><strong>Total arrears balance owed: </strong><%= number_to_currency(@tenancy.current_balance, unit: '£') %><br/></label>
    <hr>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <%= form_tag('create', method: :post) do %>

      <div class="form-group">
        <label class="govuk-label" for="frequency"><strong>Frequency of payments</strong><br/></label>
        <%= select_tag(:frequency, options_for_select(frequency_of_payments), { :class => 'form-control', id: 'frequency_selector' }) %>
      </div>

      <div class="form-group">
        <label class="govuk-label" style=font-weight:bold for="instalment_amount" id="frequency_label">Weekly instalment amount</label><br/>
        <%= number_field_tag(:instalment_amount, @amount, { class: 'form-control', required: true, min: 1 }) %>
      </div>

      <div class="form-group">
        <label class="govuk-date-field" for="start_date"><strong>Start date</strong><br/></label>
        <%= date_field_tag :start_date, @start_date, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label class="govuk-date-field" for="end_date"><strong>End date</strong><br/></label>
        <label class="govuk-date-field" id="end_date_value"></label>
      </div>

      <div class="form-group">
        <label class="govuk-label" for="agreement_notes"><strong>Notes</strong><br/></label>
        <%= text_area_tag(:agreement_notes, @agreement_notes, { class: 'form-control' }) %>
      </div>

      <%= submit_tag 'Create', class: 'button' %>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  document.getElementById("start_date").addEventListener('change', (event) => {
  var end_date = document.getElementById("start_date").value;
  document.getElementById('end_date_value').textContent = end_date;
});

  document.getElementById("frequency_selector").addEventListener('change', (event) => {
  var frequency_label = document.getElementById("frequency_selector").value;
  document.getElementById('frequency_label').textContent = frequency_label + " instalment amount";
});
</script>
