<div class="grid-row">
  <div class="column-full">
    <%= link_to('‹ Return to tenant profile', tenancy_path(id: @tenancy.ref)) %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <%= form_tag(create_tenancy_sms_path(id: @tenancy.ref)) do %>
      <%= render('common/tenancy_header') %>

      <div class="form-group">
        <div class="panel panel-border-narrow">
          <label class="form-label"><strong>Phone Number</strong></label>
          <%= @tenancy.primary_contact.fetch(:contact_number) %>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label" for="sms-template-select"><strong>Select template</strong></label>
        <span class="form-hint">Select a message to send from the dropdown list below</span>
        <%= select_tag(:template_id, options_for_select(@sms_templates.map { |template| [template.name, template.id, { data: { preview: message_preview(template.body) }}]}), id: 'sms-template-select', class:'form-control') %>
      </div>

      <div class="form-group">
        <div class="panel panel-border-narrow">
          <label class="form-label"><strong>Preview of message</strong></label>
          <div id="sms-preview">
            <%= message_preview(@sms_templates.first.body) %>
          </div>
        </div>
      </div>
      <%= submit_tag('Send', class: 'button') %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#sms-template-select').on('change', function (e) {
      var $selectedElement = $(e.target.options[e.target.selectedIndex])
      $('#sms-preview').html($selectedElement.data('preview'))
    })
  })
</script>
