<div class="grid-row">
  <div class="column-full">
    <%= link_to('Return to tenant profile', tenancy_path(id: @tenancy.ref), class: 'link--back') %>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <%= form_tag(create_tenancy_sms_path(id: @tenancy.ref)) do %>
      <%= render('common/tenancy_header') %>

      <div class="form-group">
        <label class="form-label" for="sms-template-select"><strong>Select a person to contact</strong></label>
        <span class="form-hint">Choose the number you'd like to send the message to</span>
        <div class="grid-row">
          <% @tenancy.contacts.each do |contact| %>
            <ul class="column-one-third">
              <% if contact[:responsible] %>
                <li><span class="contact-details-list__responsible">Responsible Tenant</span></li>
              <% end %>
              <% if contact[:full_name] %>
                <li><% if contact[:title] %><%= contact[:title] %><% end %> <%= contact[:full_name] %></li>
              <% end %>
              <% if contact[:telephone_1] %>
                <li>
                  <%= check_box_tag(:phone_numbers, contact[:telephone_1], true, name: 'phone_numbers[]', id: "t-#{contact[:telephone_1]}") %>
                  <%= label_tag "t-#{contact[:telephone_1]}", contact[:telephone_1] %>
                </li>
              <% end %>
              <% if contact[:telephone_2] %>
                <li>
                  <%= check_box_tag(:phone_numbers, contact[:telephone_2], false, name: 'phone_numbers[]', id: "t-#{contact[:telephone_2]}") %>
                  <%= label_tag "t-#{contact[:telephone_2]}", contact[:telephone_2] %>
                </li>
              <% end %>
              <% if contact[:telephone_3] %>
                <li>
                  <%= check_box_tag(:phone_numbers, contact[:telephone_3], false, name: 'phone_numbers[]', id: "t-#{contact[:telephone_3]}") %>
                  <%= label_tag "t-#{contact[:telephone_3]}", contact[:telephone_3] %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label" for="sms-template-select"><strong>Select template</strong></label>
        <span class="form-hint">Select a message to send from the dropdown list below</span>
        <%= select_tag(:template_id, options_for_select(@sms_templates.map { |template| [template.name, template.id, { data: { preview: message_preview(template.body) }}]}), id: 'sms-template-select', class:'form-control') %>
      </div>

      <div class="form-group">
        <div class="panel panel-border-narrow">
          <label class="form-label"><strong>Preview of message</strong></label>
          <div id="sms-preview">
            <%= message_preview(@sms_templates.first.body) %>
          </div>
        </div>
      </div>
      <%= submit_tag('Send', class: 'button') %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#sms-template-select').on('change', function (e) {
      var $selectedElement = $(e.target.options[e.target.selectedIndex])
      $('#sms-preview').html($selectedElement.data('preview'))
    })
  })
</script>
