<ul class="list contact-details-list">
<% if contact[:responsible] %>
  <li><span class="contact-details-list--responsible">Responsible Tenant</span></li>
<% end %>
  <li>Title: <%= contact[:title] %></li>
  <li>First Name: <%= contact[:first_name] %></li>
  <li>Last Name: <%= contact[:last_name] %></li>
  <li>Home Phone: <%= contact[:telephone_1] %></li>
  <li>Mobile Phone: <%= contact[:telephone_2] %></li>
  <li>Other Phone: <%= contact[:telephone_3] %></li>
  <li>E-Mail: <%= contact[:email_address] %></li>
</ul>
