<ul class="list contact-details-list">
<% if contact[:responsible] %>
  <li><span class="contact-details-list__responsible">Responsible Tenant</span></li>
<% end %>
  <% if contact[:title] %><li>Title: <%= contact[:title] %></li><% end %>
  <% if contact[:first_name] %><li>First Name: <%= contact[:first_name] %></li><% end %>
  <% if contact[:last_name] %><li>Last Name: <%= contact[:last_name] %></li><% end %>
  <% if contact[:telephone_1] %><li>Phone One: <%= contact[:telephone_1] %></li><% end %>
  <% if contact[:telephone_2] %><li>Phone Two: <%= contact[:telephone_2] %></li><% end %>
  <% if contact[:telephone_3] %><li>Phone Three: <%= contact[:telephone_3] %></li><% end %>
  <% if contact[:email_address] %><li>E-Mail: <%= contact[:email_address] %></li><% end %>
</ul>
