<table class="transactions-table">
  <thead>
    <th>Date</th>
    <th>Transaction</th>
    <th class="numeric">Incoming</th>
    <th class="numeric">Outgoing</th>
    <th class="numeric">Balance</th>
  </thead>
  <% transactions.each do |transaction_summary| %>
    <tbody class="transactions-table__group transactions-table__group--summary">
      <tr>
        <td><%= date_range(transaction_summary.fetch(:week)) %></td>
        <td>
          <span class="transactions-table__expand-link"><br/>+ click to expand</span>
          <span class="transactions-table__collapse-link transactions-table__collapse-link--hidden"><br/>- click to collapse</span>
        </td>
        <td class="numeric <%= class_for_value(transaction_summary.fetch(:incoming)) %>">
          <%= number_to_currency(transaction_summary.fetch(:incoming), unit: '£') %>
        </td>
        <td class="numeric <%= class_for_value(transaction_summary.fetch(:outgoing)) %>">
          <%= number_to_currency(transaction_summary.fetch(:outgoing), unit: '£') %>
        </td>
        <td class="numeric">
          <%= number_to_currency(transaction_summary.fetch(:final_balance), unit: '£') if transaction_summary.fetch(:final_balance) %>
        </td>
      </tr>
    </tbody>
    <tbody class=".transactions-table__group transactions-table__group--breakdown transactions-table__group--hidden">
      <% transaction_summary[:summarised_transactions].each do |transaction| %>
          <tr>
            <td><%= transaction.fetch(:timestamp) %></td>
            <td><%= transaction.fetch(:description) %></td>
            <td class="numeric <%= class_for_value(transaction.fetch(:value)) %>">
              <%= number_to_currency(transaction.fetch(:value), unit: '£') if transaction.fetch(:value).negative? %>
            </td>
            <td class="numeric <%= class_for_value(transaction.fetch(:value)) %>">
              <%= number_to_currency(transaction.fetch(:value), unit: '£') if transaction.fetch(:value).positive? %>
            </td>
            <td class="numeric">
            </td>
          </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<script>
$('.transactions-table__group--summary').click(function () {
  $(this).closest('tbody').next().toggleClass('transactions-table__group--hidden')
  $(this).find('.transactions-table__expand-link').toggleClass('transactions-table__expand-link--hidden')
  $(this).find('.transactions-table__collapse-link').toggleClass('transactions-table__collapse-link--hidden')
})
</script>
