<div class="form-group">
  <fieldset class="inline">
    <div class="multiple-choice">
      <input class="govuk-radios__input" id="all-actions" name="display" type="checkbox" value="all-actions">
      <label class="govuk-label govuk-radios__label" for="all-actions">
        Show actions
      </label>
    </div>
    <div class="multiple-choice">
      <input class="govuk-radios__input" id="all-transactions" name="display" type="checkbox" value="all-transactions">
      <label class="govuk-label govuk-radios__label" for="all-transactions">
        Show transactions
      </label>
    </div>
  </fieldset>
</div>
<table class="transactions-table fixed-layout" data-expand-actions-and-transactions>
  <thead>
    <th class="date-column">Date</th>
    <th class="action-column">Action</th>
    <th class="transaction-column">Transaction</th>
    <th class="numeric outgoing-column">Outgoing</th>
    <th class="numeric incoming-column">Incoming</th>
    <th class="numeric balance-column">Balance</th>
  </thead>
  <% summary_list.each do |array| %>
    <% date_key, group_summary = array %>

    <tbody class="summary-table__group transactions-table__group--summary">
      <tr>
        <td><%= date_range(group_summary[:date_range]) %></td>
        <td>
          <% if group_summary[:num_of_actions].zero? %>
            <span class="govuk-details__summary-text">No actions</span>
          <% else %>
            <details class="govuk-details transactions-table__expand-link show_table" data-expand="actions">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show actions (<%= group_summary[:num_of_actions] %>)
                </span>
              </summary>
            </details>
          <% end %>
        </td>
        <td>
          <% if group_summary[:num_of_transactions].zero? %>
            <span class="govuk-details__summary-text">No transactions</span>
          <% else %>
            <details class="govuk-details transactions-table__expand-link show_table" data-expand="transactions">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show transactions (<%= group_summary[:num_of_transactions] %>)
                </span>
              </summary>
            </details>
          <% end %>
        </td>
        <td class="numeric <%= class_for_value(group_summary[:outgoing]) %>">
          <%= number_to_currency(group_summary[:outgoing], unit: '£') %>
        </td>
        <td class="numeric <%= class_for_value(group_summary[:incoming]) %>">
          <%= number_to_currency(group_summary[:incoming], unit: '£') %>
        </td>
        <td class="numeric">
          <%= number_to_currency(group_summary[:balance], unit: '£') %>
        </td>
      </tr>
      <% group_summary[:list].each do |item| %>
        <% if item[:action] %>
          <tr class="transactions-table--action transactions-table__group--breakdown" data-balance="<%= item[:balance] %>" data-action="<%= item[:action_diary_balance] %>">
            <td><%= format_short_date(item[:date]) %></td>
            <td><%= Hackney::Income::ActionDiaryEntryCodes.human_readable_action_code(item[:code]) %></td>
            <td colspan="2"><%= item[:comment]%></td>
            <td><%= item[:user]%></td>
            <td>
              <div class="type-label"><strong>ACTION</strong></div>
            </td>
          </tr>
        <% elsif item[:transaction] %>
          <tr class="transactions-table--transaction transactions-table__group--breakdown" data-balance="<%= item[:balance] %>">
            <td><%= format_short_date(item[:date]) %></td><td></td>
            <td><%= item[:comment] %></td>
            <td class="numeric <%= class_for_value(item[:value]) %>">
              <%= number_to_currency(item[:value], unit: '£') if item[:value].positive? %>
            </td>
            <td class="numeric <%= class_for_value(item[:value]) %>">
              <%= number_to_currency(item[:value], unit: '£') if item[:value].negative? %>
            </td>
            <td>
              <div class="type-label"><strong>TRANSACTION</strong></div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</table>

<script>
  $(document).ready(function() {
    if ($('[data-expand-actions-and-transactions]').length > 0) {
      $('[data-expand="actions"]').on('click', function() {
        $(this).parents('tbody').toggleClass('show-actions');
      });

      $('[data-expand="transactions"]').on('click', function() {
        $(this).parents('tbody').toggleClass('show-transactions');
      });

      $('#all-actions').on('change', function() {
        if ($(this).prop('checked')) {
          $('.transactions-table__group--summary').addClass('show-actions');
          $('[data-expand="actions"]').attr('open', true);
        } else {
          $('.transactions-table__group--summary').removeClass('show-actions');
          $('[data-expand="actions"]').removeAttr('open');
        }
      });

      $('#all-transactions').on('change', function() {
        if ($(this).prop('checked')) {
          $('.transactions-table__group--summary').addClass('show-transactions');
          $('[data-expand="transactions"]').attr('open', true);
        } else {
          $('.transactions-table__group--summary').removeClass('show-transactions');
          $('[data-expand="transactions"]').removeAttr('open');
        }
      });
    }
  });
</script>
