<table id="actions-table" class="fixed-layout">
  <thead>
    <th class="date-column">Date</th>
    <th class="type-column">Type</th>
    <th class="description-column">Description</th>
    <th class="user-column">User</th>
    <th class="balance-column numeric">Balance</th>
  </thead>
  <tbody>
    <% actions.each do |action| %>
    <tr>
      <td title="<%= action[:date] %>">
        <%= action[:display_date] %>
      </td>
      <td>
        <%= Hackney::Income::ActionDiaryEntryCodes.human_readable_action_code(action[:code]) %>
      </td>
      <td>
        <%= action[:comment] %>
      </td>
      <td>
        <% if action[:type] == 'AUTO' %>
          <strong>Automated</strong>
        <% elsif action[:universal_housing_username].present? %>
          <%= action[:universal_housing_username] %>
        <% else %>
          <strong>Unknown</strong>
        <% end %>
      </td>
      <td class="numeric">
        <%= number_to_currency(action[:balance]&.delete('¤'), precision: 2, unit: '£') %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
