<table>
  <thead>
    <th>Date</th>
    <th>Type</th>
    <th>Description</th>
    <th>User</th>
  </thead>
  <tbody>
    <% actions.each do |action| %>
    <tr>
      <td title="<%= action[:date] %>">
        <%= action[:display_date] %>
      </td>
      <td><%= Hackney::Income::ActionDiaryEntryCodes.human_readable_action_code(action[:code]) %></td>
      <td><%= action[:comment] %></td>
      <td>
        <% if action[:type] == 'AUTO' %>
        <strong>Automated</strong>
        <% elsif !action[:universal_housing_username].nil? %>
        <%= action[:universal_housing_username] %>
        <% else %>
        <strong>Unknown</strong>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
