<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= @tenancy.primary_contact_name %></h1>
    <ul>
      <li><strong>Reference number:</strong> <%= @tenancy.ref %></li>
      <li><strong>Start date:</strong> <%= format_date(@tenancy.start_date) %></li>
      <li><strong>Payment reference:</strong> <%= @tenancy.payment_ref %></li>
      <li><strong>Tenure:</strong> <%= tenancy_type_name(@tenancy.tenure) %></li>
      <li><strong>Patch assigned to:</strong> <%= @tenancy.patch_code %></li>
      <li><strong>Number of bedrooms:</strong> <%= @tenancy.display_number_of_bedrooms %></li>
      <br>
      <li><strong>NoSP served:</strong> <%= format_date(@tenancy.nosp_served) %></li>
      <li><strong>NoSP expires:</strong> <%= format_date(@tenancy.nosp_expiry) %></li>
      <li><strong>Court Date:</strong> <%= format_date(@tenancy.court_date) %></li>
      <li><strong>Court Outcome:</strong> <%= court_outcome_for_code(@tenancy.court_outcome) %></li>
    </ul>
  </div>
</div>
