<header class="header">
 <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <div class="wrapper">
    <div class="grid-row" style="padding: 0;">
      <div class="column-one-half">
        <a href="/" class="header__logo" aria-label="Hackney Income Collection - Home"></a>
        <div class="header__title">
          <span class="font-medium">Income Collection</span>
        </div>
      </div>
      <% if !current_page?(:search) %>
        <div class="column-one-quarter">
            <%= link_to(search_path, class: 'button--dark-grey button--right', target: '_blank', 'aria-label' => 'Opens in new tab') do %>
              <%= fa_icon('search') %>
              Search
              <%= fa_icon('external-link') %>
            <% end %>
        </div>
        <div class="column-one-quarter">
          <div class="header__user">
            <% if logged_in? %>
              <%= current_user.name %>
              <%= link_to 'Sign out', logout_path %>
            <% end %>
          </div>
        </div>
      <%else %>
        <div class="column-one-half">
          <div class="header__user">
            <% if logged_in? %>
              <%= current_user.name %>
              <%= link_to 'Sign out', logout_path %>
            <% end %>
          </div>
        </div>
      <%end %>
    </div>
  </div>
</header>
