<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:title) %>
      <title><%= yield(:title) %> - Income Collection</title>
    <% else %>
      <title>Hackney Income Collection</title>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    href: 'https://fonts.googleapis.com/css?family=Droid+Sans:400,700' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= hotjar_tags %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" charset="utf-8"></script>
  </head>

  <body data-no-turbolink="true">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <main>
      <div id="content" role="main">
        <%= render 'layouts/phase_banner' %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
