<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'common/google_analytics' %>

    <% if content_for?(:title) %>
      <title><%= yield(:title) %> - Income Collection</title>
    <% else %>
      <title>Hackney Income Collection</title>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    href: 'https://fonts.googleapis.com/css?family=Droid+Sans:400,700' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= hotjar_tags %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" charset="utf-8"></script>
  </head>

  <body data-no-turbolink="true">
    <div id="skip_link">
      <a href="#main-content" data-turbolinks="false" class="skip_link">Skip to main content</a>
    </div>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <main class="govuk-main-wrapper" role="main">
      <div id="phase-banner" role="main">
        <%= render 'layouts/phase_banner' %>
        <div id="main-content" role="main">
          <%= yield %>
        </div> 
      </div>
    </main>
  </body>
</html>
